* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    width: 16vh;
    display: flex;
    justify-content: center;
    align-items: right;
    position: fixed;
    z-index: 999;
    background-color: aliceblue;
    border-radius: 8px;
    right: 15px;
    top: 15px;
}

li {
    list-style-type: none;
}

a:hover {
    color:darkred;
}

a {
    text-decoration: none;
    color: darkblue;
}

section {
    width: 100%;
    float: left;
    height: 100%;
    position: relative;
}

#game {
    background-color: aqua;
}

/* The Modal (background) */
.instructions_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.instructions_content {
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    text-align: justify;
}
  
  /* The Close Button */
.instructions_close {
    color: darkgrey;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -1%;
}

.instructions_close:hover, .instructions_close:focus {
    color: rgb(77, 77, 77);
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.title::first-letter {
    font-size: 120%;
}

.second_title {
    font-size: x-large;
}

.second_title::first-letter {
    font-size: 120%;
}

.content {
    font-size: large;
    margin-left: 1%;
}

/*
@keyframes example {
    from {background-color: blue;}
    to {background-color: aqua;}
}
*/

board {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 110vh;
    height: 50vh;
    border-radius: 50px;
    background-color: chartreuse;
    padding: 0;
}

house {  
    position: relative;
    width: 74%;
    height: 100%;
    border-radius: 30px;
    background-color: green;
    justify-self: center;
}

seed {
    position : absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 15%;
    border-radius: 50%;
    background-color: tomato;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}

storehouse {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 10%;
    height: 90%;
    background-color: violet;
    border-radius: 30px;
}

#topRow {
    top : 5%;
    position: absolute;
    left : 13%;
    width: 75%;
    height: 40%;
    padding: 0;
    font-size: 0;
    display: grid;
    grid-template-rows: 100%;
}

#bottomRow {
    bottom : 5%;
    position: absolute;
    left : 13%;
    width: 75%;
    height: 40%;
    padding: 0;
    font-size: 0;
    display: grid;
    grid-template-rows: 100%;
}

#leftStorehouse {
    left : 3%;
}

#rightStorehouse {
    right : 3%;
}


/* Configurations */

#config {
    background-color: rgb(184, 184, 184);
    /*animation-name: example;
    animation-duration: 4s;*/
}

/* The Modal (background) */
.config_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.config_content {
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    text-align: justify;
}
  
  /* The Close Button */
.config_close {
    color: darkgrey;
    font-size: 50px;
    font-weight: bold;
    margin-top: -1%;
}

.config_close:hover, .config_close:focus {
    color: rgb(77, 77, 77);
    text-decoration: none;
    cursor: pointer;
}

.config_table {
    font-size: large;
}

.config_number_select{
    margin-left: 1%;
    font-size: large;
    width: 100%;
    text-align: left;
    border: 1px solid black;
}

.config_cell:nth-child(1) {
    background-color: white;
    border: 1px solid black;
}

/* Leaderboard */

#leaderboard {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#classification {
    align-self: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.class_cell, .class_row, .class_head {
    border: 1px solid black;
    padding: 10px;
}

.class_row:hover {
    background-color: lightgray;
}